.header {
  display: flex;
  gap: 50px;
  background-color: cornflowerblue;
  padding: 34px;
  align-items: center;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.links a {
  color: white;
}